body{
	background: #666;
}
p{
	font-family: "微软雅黑";
	font-size: 16px;
	opacity: 0.7;
}
p,ul{margin:0}
.left{float:left}
.right{float:right}
.wrap{
	height: 1500px;
	width: 980px;
	background: #fff;
	margin: 0 auto;
}
.content{
	width: 892px;
	padding-left: 46px;
	padding-right: 46px;
}
header{
	width: 892px;
	height: 61px;
	border-bottom: 2px solid #938e8c;
	margin-bottom: 36px;
}
.title01{
	font: 12px "黑体";
	background: #D45D5C;
	padding-top: 48px;
	color: #fff;
}
.title02{
	font: 12px  "黑体";
	color:#d45d5c;
	padding-top: 48px;
}
.arc01{
	width:641px;
	height: 590px;
	margin-right: 30px;
	margin-bottom: 30px;
}
ul{
	padding-left: 0;
	width: 641px;
	display: block;
	margin-top: 40px;
	height: 259px;
}
ul li{float:left;list-style: none;height: 259px;}
ul li:first-child{	
	width: 230px;
	padding-right: 30px;	
}
ul li p{line-height: 24px;}
ul li:nth-child(2){
	width: 206px;
	padding-right: 30px;
}
ul li:nth-child(3){
	width: 133px;
}
.text01{
	color: #231815;
	font-size: 16px ;
	color:#418c59;
	font-weight: bold;
    margin-bottom: 10px;	
}
.text02{
	color: #231815;
	font-size: 16px ;
	color:#d2994f;
	font-weight: bold;
    margin-bottom: 10px;	
}
.text03{
	color: #231815;
	font-size: 16px ;
	color:#cc7680;
	font-weight: bold;
    margin-bottom: 10px;	
}
.text04{
	color: #231815;
	margin-top: 25px;
}
.text04 i{color: #cd4a48;font-size: 12px;}
.header{
    float: right;
    width: 203px;
    height: 299px;
    border-top: solid 2px #CC8091;
}
.header h1{
    margin:3px 0 4px 0;
    font-size: 21px;
    font-weight: 100;
}
.header h1 span{
    display: inline-block;
}
.header h1:first-letter,.header h1 span:first-letter{
    font-size: 28px;
    font-weight: normal;
}
.header p:first-of-type{
    margin: 0;
    font-size: 12px;
    line-height: 10px;
    font-family: KaiTi;
}
.header p:nth-of-type(2){
    margin: 0;
}
.header p:last-of-type i{
    margin-left: -20px;
    font-family: MicrosoftYaHei;
    color: #75B86B;
    font-size: 116px;
}
.header p:last-of-type span{
    position: absolute;

}
.header p:last-of-type span:first-of-type{
    margin-top: 140px;
    margin-left: -183px;
    font-size: 55px;
    color: #CC8091;
}
.header p:last-of-type span:nth-of-type(2){
    margin-top: 165px;
    margin-left: -100px;
    font-size: 21px;
    color: #CC8091;
}
.header p:last-of-type span:nth-of-type(3){
    margin-top: 185px;
    margin-left: -100px;
    font-size: 12px;
    color: #231815;
}
.arc00{
	width: 202px;
	height: 590px;
	margin-left: 19px;
	border-top:2px solid #cc8091 ;
}
.arc02,.arc03{
	color: #000000;
	font-size: 20px;
	/*line-height: 40px;*/
}
.front-techologe{
    margin-top: 73px;
    width: 415px;

}
.front-techologe h2{
    font-family: SimHei;
    color: #11456B;
    line-height: 40px;
}
.title-one-part{
    margin-right: 15px;
    font-style: italic;
    font-size: 72px;
    color: #F5E327;
}
.title-one-part+span{
    font-size: 41px;
}
.front-techologe h3{
    padding-bottom: 16px;
    border-bottom: solid #10456B 4px;
    margin: -14px 0 24px 0;
    font-size: 33px;
    color: #11456B;
    line-height: 33px;
}
.front-techologe p{
    margin:0;
    font-family: SimSun;
    font-size: 12px;
    line-height: 16px;
    color: #767777;
}
.sink-word{
    float: left;
    text-align: center;
    line-height: 64px;
    font-size: 70px;
    color: #F5E327;
}
.front-techologe img{
    float: right;
    margin: 15px 10px 10px 15px;
}
.front-techologe p:nth-of-type(3),.front-techologe p:nth-of-type(4){
    /*缩进*/
    text-indent: 2em;
}
/*右下区域*/
.side-right{
    width: 458px;
    float: right;
    margin-top: -612px;
}
.side-right img{
    /*去除图片底部间隙*/
    vertical-align: middle;
    background-color: #040;
    opacity: .7;
    filter: alpha(opacity=70);
}
.side-right div:nth-of-type(1){
    position: relative;

}
.title-box{
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 61px;
    font-family: MicrosoftYaHei;
    background-color: #040000;
    opacity: .4;
    filter: alpha(opacity=40);
}
.title{
    position: absolute;
    height: 45px;
    left: 38px;
    right: 0;
    bottom: 0;
    padding-left: 11px;
    border-left: solid 4px #72B16A;
    margin: 0 0 8px 0;
}
.title span{
    display: inline-block;
}
.title span:nth-of-type(1){
    font-size: 26px;
    color: #fff;
    opacity: 1;
}
.title span:nth-of-type(2){
    font-style: italic;
    color: #72B16A;
}
.side-right div:nth-of-type(2){
    position: relative;
    width: 458px;
    height: 309px;
    margin-top: 30px;
    padding-top: 15px;
    background-color: #EEEDD6
}
.menu-word{
    font-family: SimSun;
    line-height: 20px;
    color: #5A5B5B;
}
.menu-word:before{
    margin: 0 7px 0 31px;
    content: "\25b2";
    font-size: 12px;
}
.menu-word span{
    font-size: 12px;
    font-style: italic;
}
.red-board{
    /*width: 233px;*/
    /*height: 88px;*/
    /*padding: 40px  14px  34px;*/
    position: relative;
    width: 261px;
    height: 162px;
    margin-top: 32px;
    margin-bottom: 0;
    background-color: #D45D5C;
    color: #FFFFFF;
}
.red-board span:first-child{
    display: inline-block;
    margin: 8px 0 0 14px;
    font-family: MicrosoftYaHei;
    font-size: 110px;
}
.red-board span:first-child:after{
    display: block;
    position: absolute;
    top: 39px;
    left: 85px;
    height: 88px;
    width: 3px;
    content: "";
    background-color: #FFFFFF;
}
.red-board span:nth-child(2){
    position: absolute;
    top: 42px;
    left: 96px;
    font-family: SimHei;
    font-size: 21px;
    font-style: italic;
}
.red-board span:last-child{
    position: absolute;
    top: 94px;
    left: 98px;
    font-size: 12px;
    font-family: SimHei;

}
blockquote {
    position: absolute;
    right: 12px;
    top: 175px;
    margin: 0;
    width: 163px;
    height: 100px;
    font-size: 14px;
    line-height: 16px;
    color: #888;
    font-family: SimHei;
    text-indent: 42px;
}
blockquote:before {
    position: absolute;
    top: 20px;
    color: #D45D5C;
    content: "\201C";
    font-size: 72px;
    left: -82px;
    line-height: 6px;
}
blockquote:after {
    position: absolute;
    right: -40px;
    bottom: -20px;
    content: "\201D";
    font-size: 72px;
    line-height: 6px;
    color: #D45D5C;
}

footer{
    margin-top: 40px;
    border-top: solid 1px #938E8C;
    text-align: right;
    font-family: SimHei;
    font-size: 12px;
    color: #D45D5C;
}
